{% extends "base.html" %}
{% load static %}

{% block content %}
{% if not user.is_authenticated%}

<div class="register-photo  mt-5">
    <div class="form-container shadow">
        <div class="image-holder" style="background: url('{% static 'cov.webp' %}') 0 0/cover;"></div>
        <form method="">
            <div class=" form-group">
                <a class="btn btn-primary btn-block" href="{% url 'login' %}"
                    style="background: #ffffff;color: #37434d;border-style: solid;">Administrator
                    Login</a>
                <a class="btn btn-primary btn-block" href="{% url 'login' %}"
                    style="background: #ffffff;color: #37434d;border-style: solid;border-color: #37434d;">Student
                    Login</a>
            </div>
        </form>
    </div>
</div>

{% else %}

<div class="register-photo">
    <div class="form-container  shadow ">
        <div class="image-holder" style="background: url('{% static 'cov.webp' %}') 0 0/cover;"></div>
        <form method="">
            <div class=" form-group">
                <a class="btn btn-primary btn-block" href="{% url 'report' %}"
                    style="background: #ffffff;color: #37434d;border-style: solid;">Administrator
                    Login</a>
                <a class="btn btn-primary btn-block" href="{% url 'update' %}"
                    style="background: #ffffff;color: #37434d;border-style: solid;border-color: #37434d;">Student
                    Login</a>
            </div>
        </form>
    </div>
</div>


{%endif %}
{% endblock %}