* {
    font-family: Raleway, sans-serif
}
body {
    overflow: auto;
}
footer{
  position:static;
 }
.asteriskField{
    display:None;
}
.login-card {
    max-width: 350px;
    padding: 40px;
    background-color: #f7f7f7;
    margin: 50px auto 25px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3)
}

.login-card .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%
}

.login-card .profile-name-card {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em
}


.login-card .form-signin button,
.login-card .form-signin input[type=email],
.login-card .form-signin input[type=password],
.login-card .form-signin input[type=text] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box
}

.login-card label {
    color: #000
}

.login-card .form-signin .form-control:focus {
    border-color: #6891a2;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #6891a2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #6891a2
}

.login-card .btn.btn-signin {
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background: #6891a2;
    border-radius: 3px;
    border: none;
    transition: 218ms;
    padding: 0
}

.login-card .btn.btn-signin:active,
.login-card .btn.btn-signin:focus,
.login-card .btn.btn-signin:hover {
    background: #0c6121
}



.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem 1rem;
    transition: background-color .25s;
    font-size: inherit
}

.navigation-clean-button .navbar-text .action-button:hover,
.navigation-clean-search .action-button:focus,
.navigation-clean-search .action-button:hover {
    background: #66d7d7
}

.navigation-clean-button,
.navigation-clean-search {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0
}

.navigation-clean-button .navbar-brand,
.navigation-clean-search .navbar-brand {
    font-weight: 700;
    color: inherit
}



.navigation-clean-button .action-button:active,
.navigation-clean-search .action-button {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff !important;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 8px 20px;
    transition: background-color .25s
}


html {
    height: 100%
}

html body {
    height: 100%;
    overflow: hidden
}

html body .container-fluid.body-content {
    position: absolute;
    top: 50px;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow-y: auto
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #4c4;
    height: 50px
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4c4;
    height: 30px
}

.register-photo .image-holder {
    display: table-cell;
    width: auto;
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #fff;
    padding: 40px 60px;
    color: #505e6c
}

@media (max-width:991px) {

    .register-photo form {
        padding: 40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-indent: 6px;
    height: 40px
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: 0 !important
}

.register-photo form .btn-primary:active,
.register-photo form .btn-primary:hover {
    background: #eb3b60
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: .9;
    text-decoration: none
}



@media (max-width:767px) {
    .contact-clean {
        padding: 20px 0
    }

    .contact-clean form {
        padding: 30px
    }


}

.bill-header {
    font-size: 12px;
    text-align: center
}

.form-control:focus {
    border-color: #25476a;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bill-header.cs {
    background-color: rgba(37, 71, 106, .56);
    color: #fff
}

.no-result,
.results tr[visible=false] {
    display: none
}

.counter {
    padding: 8px;
    color: #ccc
}

.fa.fa-warning {
    font-size: 18px;
    color: red
}

.search.form-control {
    border-radius: 0 !important
}

.search-table-col {
    margin-top: 100px
}
